APP_PORT=8080
APP_ENV=development

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=flight_booking
DB_SSLMODE=disable

MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
MIDTRANS_IS_PRODUCTION=false

JWT_SECRET=supersecretkey_production_change_me
ACCESS_TOKEN_EXPIRY=24h
REFRESH_TOKEN_EXPIRY=168h

GIN_MODE=release
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

APP_PASSWORD=

CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret