PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=foca_store
DB_SSLMODE=disable

JWT_SECRET=change_me_please

ADMIN_EMAIL=admin@local.dev
ADMIN_PASSWORD=Admin123!
ADMIN_NAME=Admin
